//Bootstrap custom themes
// $theme-colors: (
//   'card-theme': #c6c8ff,
// );

// @import '~bootstrap/scss/bootstrap';

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .card {
    width: 25%;
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin: 15px;
    cursor: pointer;
    h2 {
      font-size: 24px;
      color: white;
      z-index: 1;
    }
    h3 {
      font-size: 18px;
      color: white;
      z-index: 1;
    }
  }
  .card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  @media only screen and (max-width: 750px) {
    .card {
      width: 40%;
      height: 200px;
      margin: 10px;
      h2 {
        font-size: 18px;
        color: white;
        z-index: 1;
      }
      h3 {
        font-size: 14px;
        color: white;
        z-index: 1;
      }
    }
  }
}


// .dish {
//   width: 25% !important;
// }

// @media (min-width: 576px) {
//   .card-deck .card {
//     flex: 0;
//     width: 25%;
//     margin-right: 15px;
//     margin-bottom: 0;
//     margin-left: 15px;
//   }
// }

// .MainActivities-Weekly-Wrapper {
//   margin-top: 2%;
// }
// .MainActivities-Weekly-Wrapper,
// .MainActivities-Aligned-Wrapper,
// .MainActivities-New-Wrapper {
//   margin-bottom: 8%;
//   h2 {
//     font-size: 40px;
//   }
// }


// .card {
//   border-radius: 26px;
//   cursor: pointer;
//   .card-body {
//     .card-title {
//       font-size: 18px;
//       text-decoration: underline;
//       font-weight: 900;
//     }
//     .date {
//       font-size: 18px;
//       font-style: italic;
//       font-weight: bold;
//     }
//     .price {
//       font-size: 18px;
//     }
//   }
// }

.card:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 750px) {
  .card {
    width: 25%;
    height: 200px;
    margin: 0;
    h2 {
      font-size: 18px;
      color: white;
      z-index: 1;
    }
    h3 {
      font-size: 14px;
      color: white;
      z-index: 1;
    }
  }
}
